<div class="nnc-rb">
  <h1>RBML</h1>
  <% @last_container_seen = '' %>
  <% @checkbox_id = 0 %>
  <% current_nesting_level = 1 %>
  <% @flattened_component_structure.each do |component| %>
    <% ( nesting_level,
         title,
         date,
         level,
         scope_content_ps,
         separated_material_ps,
         other_finding_aid_ps,
         container_info ) = component
       displayed_component_infos = scope_content_ps +
                                   separated_material_ps +
                                   other_finding_aid_ps
    %>
    <% if nesting_level > current_nesting_level %>
      <hr style="margin-top:10px;margin-bottom:10px">
      <div class="component_entry" style="margin-left:2em;">
    <% elsif nesting_level < current_nesting_level %>
       <hr style="margin-top:10px;margin-bottom:10px">
       <% (nesting_level...current_nesting_level).each do %>
        </div>
      <% end %>
    <% end %>
    <% current_nesting_level = component[0] %>
    <%== checkbox_display(container_info[0]) unless container_info.empty? %>
    <p style="margin:0">
      <span style="text-align:left;"> <%= [title, date].reject(&:blank?).join(", ") %> </span>
      <span style="text-align:right;float:right;"><%=container_info.join(' ') %></span>
    </p>
    <% unless displayed_component_infos.empty? %>
      <p style="margin:0">
        <% displayed_component_infos.each do |displayed_component_info| %>
          <%== displayed_component_info %>
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>
