<div class="nnc-a">
  <h1>Avery</h1>
  <table style="width:100%">
    <% @flattened_component_structure.each do |component| %>
      <% ( nesting_level,
           title,
           date,
           level,
           scope_content_ps,
           separated_material_ps,
           other_finding_aid_ps,
           container_info ) = component
         displayed_component_infos = scope_content_ps +
                                     separated_material_ps +
                                     other_finding_aid_ps
      %>
      <tr style="border-top:1px solid #eee">
        <td style="width:20%"><%= container_info.join(' ') %></td>
        <td style="width:60%;font-weight:bold"> <%= title %> </td>
        <td style="width:20%"><%= date %></td>
      </tr>
      <% unless displayed_component_infos.empty? %>
        <tr>
          <td style="width:20%"></td>
          <td style="width:60%">
	    <% displayed_component_infos.each do |displayed_component_info| %>
	      <%== displayed_component_info %>
	    <% end %>
	  </td>
          <td style="width:20%"></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>    
