<table style="width:100%">
  <tbody>
    <tr>
      <td class="sidebar">
        <%
          series_titles_urls =
            @series_titles.map.with_index do |series_title, index|
              [series_title, repository_finding_aid_component_path(id: index+1)]
            end
        %>
	<%= render partial: 'sidebar',
                   locals: {slug: repository_finding_aid_path(params[:repository_id], params[:finding_aid_id]),
                            series_titles_urls: series_titles_urls}
	    %>
      </td>
      <td class="ead_content">
        <% if REPOS[params[:repository_id]][:requestable_via_aeon] %>
          <%= render partial: 'view_all',
                     layout: "with_aeon"
          %>
          <% else %>
          <%= render partial: 'view_all',
                     layout: "without_aeon"
          %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
