<%- breadcrumb(:ead_components, @repository, params[:finding_aid_id], @finding_aid_title) %>
<div class="row">
  <div class="sidebar col-6 col-sm-4 col-md-3 col-lg-2">
        <%
          series_titles_urls =
            @arch_desc_dsc.series_compound_title_array.map.with_index do |series_title, index|
              [series_title, repository_finding_aid_component_path(id: index+1, finding_aid_id: params[:finding_aid_id])]
            end
        %>
        <%= render partial: 'sidebar',
                   locals: { slug: repository_finding_aid_path(id: params[:finding_aid_id]),
                             restricted_access: @restricted_access_flag,
                             series_titles_urls: series_titles_urls,
                             subseries_titles: @arch_desc_dsc.subseries_compound_title_array_for_each_series_array }
        %>
  </div>
  <div class="col ead_content">
        <!-- MAIN FINDING AID INFORMATION -->
        <%= render partial: 'finding_aids/top_level_info',
            locals: {finding_aid_id: params[:finding_aid_id]}
        %>
        <!-- SERIES INFORMATION -->
	<a class="fa_anchor" name="view_all"></a>
        <% if @repository.aeon_enabled? %>
          <%= render partial: 'view_all',
                     locals: {series_titles: @arch_desc_dsc.series_compound_title_array},
                     layout: "with_aeon"
          %>
        <% else %>
          <%= render partial: 'view_all',
                     layout: "without_aeon"
          %>
        <% end %>
  </div>
</div>
