<%- breadcrumb(:ead_component, @repository, params[:finding_aid_id], @finding_aid_title, params[:id], @series.unit_title.text) %>
<div class="row">
  <div class="sidebar col-6 col-sm-4 col-md-3 col-lg-2">
        <%
          series_titles_urls =
            @arch_desc_dsc.series_compound_title_array.map.with_index do |series_title, index|
              [series_title, repository_finding_aid_component_path(id: index+1)]
            end
        %>
	<%= render partial: 'sidebar',
                   locals: { slug: repository_finding_aid_path(params[:repository_id], params[:finding_aid_id]),
                             restricted_access: @restricted_access_flag,
                             series_titles_urls: series_titles_urls,
                             subseries_titles: @arch_desc_dsc.subseries_compound_title_array_for_each_series_array }
        %>
  </div>
  <div class="col ead_content">
    <!-- INFORMATION FOR TOP-LEVEL <c> ELEMENT, CURRENTLY A SERIES -->
    <%= render Acfa::Ead::Components::SeriesComponent.new(parser: @series, series: @series.series, repository: @repository, aeon_enabled: @repository.aeon_enabled?, component_id: params[:id]), layout: (@repository.aeon_enabled? ? "with_aeon" : "without_aeon") %>
  </div>
</div>
