<div class="toc" style="clear:both;">
  <div id="contentMenu1">
    <div class="item">
      <a href="#summary">Summary</a>
    </div>
    <div class="item">
      <a href="#arrangement">Arrangement</a>
    </div>
    <div class="item">
      <a href="#description">Description</a>
    </div>
    <div class="item">
      <a href="#using_collection">Using the Collection</a>
    </div>
    <div class="item">
      <a href="#about_findaid">About the Finding Aid / Processing Information</a>
    </div>
    <div class="item">
      <a href="#subjects">Subject Headings</a>
    </div>
    <div class="item">
      <a href="#history">History / Biographical Note</a>
    </div>
  </div>
</div>
