<h1>Asi#as_ead_from_local_fixture</h1>
<p>Find me in app/views/asi/as_ead_from_local_fixture.html.erb</p>
<h1>(HC) => Hard coded in html.erb</h1>
<h2>EAD Title (for debug): (HC)</h2>
<p><%= @ead_title %></p>
<table style="width=100%">
  <tbody>
    <tr>
      <td class="sidebar">
	<%= render "sidebar" %>
      </td>
      <td class="ead_content">
	<%= render "ead_summary" %>
      </td>
    </tr>
  </tbody>
</table>
