<h1>Asi#as_ead</h1>
<p>Find me in app/views/asi/as_ead.html.erb</p>
<h1>(HC) => Hard coded in html.erb</h1>
<h2>EAD Title (for debug): (HC)</h2>
<table style="width=100%">
  <tbody>
    <tr>
      <td class="sidebar">
	<%= render partial: 'sidebar',
	    locals: {slug: ead_path, slug_to_series_page: method(:series_path)} %>
      </td>
      <td class="ead_content">
	<%= render partial: 'ead_summary',
	    locals: {slug_to_series_page: method(:series_path)} %>
      </td>
    </tr>
  </tbody>
</table>
