<%= render partial: 'banner' %>
<h2>View finding aids for:</h2>
<ul>
  <% @repositories.each do |repo| %>
  <li><%= link_to(repo.name, repository_finding_aids_path(repository_id: repo.id)) if repo.has_fa_list? %> </li>
  <% end %>
</ul>
