<%= render partial: 'banner' %>
<div align="center" style="width:100%;margin:0px;height:0px;border-top:2px solid #336699">&#160;</div>
<h2>Columbia University Finding Aids</h2>
<h3>View finding aids for:</h3>
<ul>
  <% @repositories.each do |repo| %>
  <li><%= link_to repo.name, repository_finding_aids_path(repository_id: repo.id) %> </li>
  <% end %>
</ul>
