<% if repository.contact&.fetch('phone', nil) %>
  <div class='al-repository-contact-phone'><%= repository.contact['phone'] %></div>
<% end %>
<% if repository.contact&.fetch('email', nil) %>
  <div class='al-repository-contact-info'><%= repository.contact['email'] %></div>
<% end %>
