// TODO: Use cul-tookit v5 when it is complete (and eventually remove cuds_palette.scss from this project when that happens)

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1132px,
  xxl: 1134px
);

