<div class="container">
  <h2>Checkout</h1>
  <p>Please review your request.  When you are finished, click the submit button at the bottom of the form.</p>
  <div id="inline-request-cart-widget">
    <i class="fa fa-2x fa-spinner fa-spin"></i>
  </div>
</div>
