<div style="margin-top:60px;"></div>
<% if @display_alert %>
  <div style="padding: 1em 2em">
    <%= content_tag(:h3, @alert_header) %>
    <%= content_tag(:p, @alert_text) %>
  </div>
<% end %>
<%= render partial: 'request_form' if @allow_requests %>
