<%

starting_number = 130

form_html = <<~HEREDOC
<form id="test-aeon-submission-form" data-turbo="false" action="https://columbiasb.aeon.atlas-sys.com/nonshib/aeon.dll" accept-charset="UTF-8" method="post">
      <input type="hidden" name="AeonForm" value="EADRequest">
      <input type="hidden" name="SubmitButton" value="Submit Request">
      √ <input type="hidden" name="Notes" value="This is a note">
      <input type="hidden" name="GroupingIdentifier" value="GroupingField">

      √ <input type="hidden" name="Request" value="r#{starting_number}">
      ? <input type="hidden" name="GroupingField_r#{starting_number}" id="GroupingField_r#{starting_number}" value="Box #{starting_number}"> <!-- Not sure if this is doing anything -->
      √ <input type="hidden" name="Site_r#{starting_number}" id="Site_r#{starting_number}" value="RBMLCUL">
      √ <input type="hidden" name="ItemTitle_r#{starting_number}" id="ItemTitle_r#{starting_number}" value="Test Title #{starting_number}">
      √ <input type="hidden" name="ItemAuthor_r#{starting_number}" id="ItemAuthor_r#{starting_number}" value="Test Author #{starting_number}">
      √ <input type="hidden" name="ItemDate_r#{starting_number}" id="ItemDate_r#{starting_number}" value="Test Date #{starting_number}">
      √ <input type="hidden" name="ReferenceNumber_r#{starting_number}" id="ReferenceNumber_r#{starting_number}" value="Test Reference Number #{starting_number}"> <!-- labeled "BibId" in AEON -->
      √ <input type="hidden" name="DocumentType_r#{starting_number}" id="DocumentType_r#{starting_number}" value="All">
      √ <input type="hidden" name="ItemInfo1_r#{starting_number}" id="ItemInfo1_r#{starting_number}" value="Archival Materials">
      √ <input type="hidden" name="ItemInfo3_r#{starting_number}" id="ItemInfo3_r#{starting_number}" value="Test Unprocessed #{starting_number}">
      <input type="hidden" name="UserReview_r#{starting_number}" id="UserReview_r#{starting_number}" value="Yes">
      <!-- Possibly unavailable fields -->
      √ <input type="hidden" name="ItemVolume_r#{starting_number}" id="ItemVolume_r#{starting_number}" value="TEST Item Volume (i.e. Box Number) #{starting_number}"> <!-- labeled "Box / Volume" in AEON -->
      √ <input type="hidden" name="ItemNumber_r#{starting_number}" id="ItemNumber_r#{starting_number}" value="TEST Item Number (i.e. Barcode) #{starting_number}"> <!-- labeled "Barcode" in AEON -->
      √ <input type="hidden" name="ItemSubTitle_r#{starting_number}" id="ItemSubTitle_r#{starting_number}" value="TEST Item Subtitle (i.e. maybe series number?) #{starting_number}"><!-- labeled "Series" in AEON -->
      √ <input type="hidden" name="CallNumber_r#{starting_number}" id="CallNumber_r#{starting_number}" value="TEST Call Number #{starting_number}"><!-- labeled "Call Number" in AEON -->
      √ <input type="hidden" name="Location_r#{starting_number}" id="Location_r#{starting_number}" value="TEST Location #{starting_number}"><!-- labeled "Location" in AEON -->

      <input type="hidden" name="Request" value="r#{starting_number+1}">
      <input type="hidden" name="GroupingField_r#{starting_number+1}" id="GroupingField_r#{starting_number+1}" value="Box #{starting_number+1}">
      <input type="hidden" name="Site_r#{starting_number+1}" id="Site_r#{starting_number+1}" value="RBMLCUL">
      <input type="hidden" name="ItemTitle_r#{starting_number+1}" id="ItemTitle_r#{starting_number+1}" value="Test Title #{starting_number+1}">
      <input type="hidden" name="ItemAuthor_r#{starting_number+1}" id="ItemAuthor_r#{starting_number+1}" value="Test Author #{starting_number+1}">
      <input type="hidden" name="ItemDate_r#{starting_number+1}" id="ItemDate_r#{starting_number+1}" value="Test Date #{starting_number+1}">
      <input type="hidden" name="ReferenceNumber_r#{starting_number+1}" id="ReferenceNumber_r#{starting_number+1}" value="Test Reference Number #{starting_number+1}">
      <input type="hidden" name="DocumentType_r#{starting_number+1}" id="DocumentType_r#{starting_number+1}" value="All">
      <input type="hidden" name="ItemInfo1_r#{starting_number+1}" id="ItemInfo1_r#{starting_number+1}" value="Archival Materials">
      <input type="hidden" name="ItemInfo3_r#{starting_number+1}" id="ItemInfo3_r#{starting_number+1}" value="Test Unprocessed #{starting_number+1}">
      <input type="hidden" name="UserReview_r#{starting_number+1}" id="UserReview_r#{starting_number+1}" value="No">
      <!-- Possibly unavailable fields -->
      <input type="hidden" name="ItemVolume_r#{starting_number+1}" id="ItemVolume_r#{starting_number+1}" value="TEST Item Volume (i.e. Box Number) #{starting_number+1}">
      <input type="hidden" name="ItemNumber_r#{starting_number+1}" id="ItemNumber_r#{starting_number+1}" value="TEST Item Number (i.e. Barcode) #{starting_number+1}">
      <input type="hidden" name="ItemSubTitle_r#{starting_number+1}" id="ItemSubTitle_r#{starting_number+1}" value="TEST Item Subtitle (i.e. maybe series number?) #{starting_number+1}">
      <input type="hidden" name="CallNumber_r#{starting_number+1}" id="CallNumber_r#{starting_number+1}" value="TEST Call Number #{starting_number+1}">
      <input type="hidden" name="Location_r#{starting_number+1}" id="Location_r#{starting_number+1}" value="TEST Location #{starting_number+1}">

      <input type="hidden" name="Request" value="r#{starting_number+2}">
      <input type="hidden" name="GroupingField_r#{starting_number+2}" id="GroupingField_r#{starting_number+2}" value="Box #{starting_number+2}">
      <input type="hidden" name="Site_r#{starting_number+2}" id="Site_r#{starting_number+2}" value="RBMLCUL">
      <input type="hidden" name="ItemTitle_r#{starting_number+2}" id="ItemTitle_r#{starting_number+2}" value="Test Title #{starting_number+2}">
      <input type="hidden" name="ItemAuthor_r#{starting_number+2}" id="ItemAuthor_r#{starting_number+2}" value="Test Author #{starting_number+2}">
      <input type="hidden" name="ItemDate_r#{starting_number+2}" id="ItemDate_r#{starting_number+2}" value="Test Date #{starting_number+2}">
      <input type="hidden" name="ReferenceNumber_r#{starting_number+2}" id="ReferenceNumber_r#{starting_number+2}" value="Test Reference Number #{starting_number+2}">
      <input type="hidden" name="DocumentType_r#{starting_number+2}" id="DocumentType_r#{starting_number+2}" value="All">
      <input type="hidden" name="ItemInfo1_r#{starting_number+2}" id="ItemInfo1_r#{starting_number+2}" value="Archival Materials">
      <input type="hidden" name="ItemInfo3_r#{starting_number+2}" id="ItemInfo3_r#{starting_number+2}" value="Test Unprocessed #{starting_number+2}">
      <input type="hidden" name="UserReview_r#{starting_number+2}" id="UserReview_r#{starting_number+2}" value="No">
      <!-- Possibly unavailable fields -->
      <input type="hidden" name="ItemVolume_r#{starting_number+2}" id="ItemVolume_r#{starting_number+2}" value="TEST Item Volume (i.e. Box Number) #{starting_number+2}">
      <input type="hidden" name="ItemNumber_r#{starting_number+2}" id="ItemNumber_r#{starting_number+2}" value="TEST Item Number (i.e. Barcode) #{starting_number+2}">
      <input type="hidden" name="ItemSubTitle_r#{starting_number+2}" id="ItemSubTitle_r#{starting_number+2}" value="TEST Item Subtitle (i.e. maybe series number?) #{starting_number+2}">
      <input type="hidden" name="CallNumber_r#{starting_number+2}" id="CallNumber_r#{starting_number+2}" value="TEST Call Number #{starting_number+2}">
      <input type="hidden" name="Location_r#{starting_number+2}" id="Location_r#{starting_number+2}" value="TEST Location #{starting_number+2}">

      <button type="submit">Submit</button>
</form>
HEREDOC
%>
<%# <button type="submit">Submit</button> %>
<%= form_html.html_safe %>
<textarea rows="30" cols="200"><%= form_html.html_safe %></textarea>
