<p>Not sure if AS EAD contained the following (hard code in php app?): Columbia University Libraries. Rare Book and Manuscript Library; machine readable finding aid created by Columbia University Libraries Digital Library Program Division</p>
<h3><%= @processing_information_head %></h3>
<p><%= @processing_information_value %></p>
