<%= content_tag(:h2, @arch_desc_misc.arrangement_head || 'Arrangement', class: 'al-show-sub-heading') %>
<% if @preview_flag %>
  <% slug_prefix = '/preview' %>
<% else %>
  <% slug_prefix = '' %>
<% end %>
<% @arch_desc_misc.arrangement_values.each do |arrangement_value| %>
  <%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms arrangement_value %>
<% end %>
<p>
  <% unless @print_view %>
    <ul>
      <% @arch_desc_dsc.series_compound_title_array.each_with_index do |series_compound_title, series_index| %>
        <% series_link_url = slug_prefix + repository_finding_aid_component_path(id: series_index+1, finding_aid_id: finding_aid_id) %>
        <li>
          <%= link_to series_compound_title, series_link_url %>
        </li>
	<ul>
          <% @arch_desc_dsc.subseries_compound_title_array_for_each_series_array[series_index].each.with_index do |subseries_title, subseries_index| %>
            <li>
              <%= link_to subseries_title, "#{series_link_url}#subseries_#{subseries_index + 1}" %>
            </li>
	  <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
</p>
