<% if @preview_flag %>
  <% slug_prefix = '/preview' %>
<% else %>
  <% slug_prefix = '' %>
<% end %>
<h3>Arrangement</h3>
<% @arrangement_values.each do |arrangement_value| %>
  <%== apply_ead_to_html_transforms arrangement_value %>
<% end %>
<p>
  <ul>
    <% @series_titles.each_with_index do |series_title, index| %>
    <li> <%= link_to series_title,
	     slug_prefix + repository_finding_aid_component_path(id: index+1, finding_aid_id: params[:id])
	     %> </li>
    <% end %>
  </ul>
</p>
