<%= content_tag(:h2, @arch_desc_misc.biography_history_head || 'History/Biographical Note', class: 'al-show-sub-heading') %>
<% @arch_desc_misc.biography_history_values.each do |biography_history_value| %>
  <p><%== ArchiveSpace::Parsers::EadHelper.apply_ead_to_html_transforms biography_history_value %></p>
<% end %>
