<h2 class="al-show-sub-heading">Subject Headings</h2>
<p class="caption11px">
  The subject headings listed below are found in this collection. Links below allow searches for other collections at Columbia University, through
  <a href="https://clio.columbia.edu" target="_blank">CLIO</a>, the catalog for Columbia University Libraries,
  and through <a href="https://beta.worldcat.org/archivegrid" target="_blank">ArchiveGRID</a>,
  a catalog that allows users to search the holdings of multiple research libraries and archives.
</p>
<p class="caption11px"><strong>All links open new windows.</strong></p>
<%- if has_control_access_terms? -%>
  <%= render Acfa::ControlAccessTableComponent.new(genres: @genres_forms, names: @name_terms, places: @place_terms, subjects: @subjects, print_view: @print_view) %>
<% end %>
