<p>Missing blurb found in php app (HC)</p>
<% unless @genres_forms.empty? %>
  <%= render partial: 'subject_headings_genre_form' %>
<% end %>
<% unless @subjects.empty? %>
  <%= render partial: 'subject_headings_subject' %>
<% end %>
