<h2>Subject Headings</h2>
<p class="caption11px">
  The subject headings listed below are found in this collection. Links below allow searches at Columbia University through the
  <a href="https://archivesportal.library.columbia.edu" target="_blank">Archival Collections Portal</a> and through
  <a href="https://clio.columbia.edu" target="_blank">CLIO</a>, the catalog for Columbia University Libraries,
  as well as <a href="https://beta.worldcat.org/archivegrid" target="_blank">ArchiveGRID</a>,
  a catalog that allows users to search the holdings of multiple research libraries and archives.
</p>
<p class="caption11px"><strong>All links open new windows.</strong></p>
<% unless @genres_forms.empty? %>
  <%= render partial: 'finding_aids/subject_headings_genre_form' %>
<% end %>
<% unless @subjects.empty? %>
  <%= render partial: 'finding_aids/subject_headings_subject' %>
<% end %>
