<%= render partial: 'banner' %>
<% if @preview_flag %>
  <% slug_prefix = '/preview' %>
<% else %>
  <% slug_prefix = '' %>
<% end %>
<h3>Finding Aids from the <%= @repository.name %></h3>
<%= @fa_list %>
