<%= render partial: 'banner' %>
<% if @preview_flag %>
  <% slug_prefix = '/preview' %>
<% else %>
  <% slug_prefix = '' %>
<% end %>
<div align="center" style="width:100%;margin:0px;height:0px;border-top:2px solid #336699">&#160;</div>
<h3>Finding Aids from the <%= REPOS[@repo_id][:name]%></h3>
<%= @fa_list %>
