<div class="printView container">
<h1 style="font-size:18px;color:black;text-align:center"><%= @finding_aid_title %></h1>
<div class="row ead_content">
  <%= render partial: 'finding_aids/top_level_info',
      locals: {finding_aid_id: params[:id]}
    %>
</div>
<hr style="width:1px;">
<% @series_array.each do |series| %>
  <!-- INFORMATION FOR TOP-LEVEL <c> ELEMENT, CURRENTLY A SERIES -->
  <%= render partial: 'components/component_structure_view_top_level_c',
             locals: {series: series, print_view: @print_view}
  %>
  <%= render partial: 'components/component_structure_view_print',
             locals: {series: series}
  %>
<% end %>
</div>  
