<div class="printView">
<h1 style="font-size:18px;color:black;text-align:center"><%= @finding_aid_title %></h1>
<table style="width=100%">
  <tbody>
      <td class="ead_content">
	<%= render partial: 'top_level_info' %>
      </td>
    </tr>
  </tbody>
</table>
<hr style="width:1px;">
<% @series_array.each do |series| %>
  <!-- INFORMATION FOR TOP-LEVEL <c> ELEMENT, CURRENTLY A SERIES -->
  <%= render partial: 'components/component_structure_view_top_level_c',
             locals: {series: series, print_view: @print_view}
  %>
  <%= render partial: 'components/component_structure_view_print',
             locals: {series: series}
  %>
<% end %>
</div>  
