<%- breadcrumb(:ead_title, @repository, params[:id], @finding_aid_title) %>
<div class="container">
<div class="row">
  <%= render Acfa::SidebarComponent.new(arch_desc_dsc: @arch_desc_dsc, arch_desc_misc: @arch_desc_misc, preview_flag: @preview_flag, restricted_access: @restricted_access_flag, finding_aid_id: params[:id]) %>
  <div class="col ead_content">
    <%= render partial: 'finding_aids/top_level_info',
        locals: {finding_aid_id: params[:id]}
    %>
  </div>
</div>
</div>
