<table class="subjectTable mb-2">
  <%= render Acfa::ControlAccess::FieldRowsComponent.new(field_name: 'subjects', label: 'Genre/Form', terms: @genres_forms, print_view: @print_view) %>
  <%= render Acfa::ControlAccess::FieldRowsComponent.new(field_name: 'names', label: 'Name', terms: @name_terms, print_view: @print_view) %>
  <%= render Acfa::ControlAccess::FieldRowsComponent.new(field_name: 'places', label: 'Place', terms: @place_terms, print_view: @print_view) %>
  <%= render Acfa::ControlAccess::FieldRowsComponent.new(field_name: 'subjects', label: 'Subject', terms: @subjects, print_view: @print_view) %>
</table>