<%= render(@layout.new(facet_field: @facet_field)) do |component| %>
  <% component.with_label do %>
    <%= @facet_field.label %>
  <% end %>
  <% component.with_body do %>
    <div class="reset-layout facet-values">
      <%= render facet_items(wrapping_element: nil) %>
    </div>
  <% end %>
<% end %>