<header id="header">
  <nav class="navbar d-block navbar-expand-sm navbar-light bg-white">
    <div class="d-flex flex-row justify-content-between">
        <div class="">
            <button class="navbar-toggler mt-2 border-0" type="button" data-toggle="collapse" data-target="#navbarCUL" aria-controls="navbarCUL" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fal fa-bars"></i>
            </button>
        </div>
        <div class="">
            <a class="navbar-brand w-100 d-sm-none" href="/">Archival Collections</a>
        </div>
        <div class="">
            <a class="navbar-text d-sm-none" title="Ask A Librarian" href="https://library.columbia.edu/services/askalibrarian.html">
                <i class="fal fa-comments-alt w-30"></i>
            </a>
        </div>
    </div>
    <div class="container d-flex">
      <div class="collapse navbar-collapse" id="navbarCUL">
          <%= masthead %>
      </div>
    </div>
  </nav>
</header>
<%= search_bar %>
