<header id="header">
  <nav class="navbar d-block navbar-expand-sm navbar-light bg-white">
    <div class="container d-flex">
      <div class="collapse navbar-collapse" id="navbarCUL">
        <div class="d-flex flex-column">
        <nav class="d-flex justify-content-sm-end" id="global-menu">
          <ul class="navbar-nav">
            <%= render 'shared/main_menu_links' %>
          </ul>
        </nav>
        <section id="branding" class="d-none d-sm-flex">
          <h1 id="site-name"><%= heading %></h1>
        </section>
      </div>
    </div>
  </nav>
</header>
