<section id="hero" class="d-sm-block mb-4">
  <div class="jumbotron text-center d-flex align-items-center mb-0">
    <div id="hero-search" class="col-12 col-sm-10 offset-sm-1 col-lg-6 offset-lg-3" aria-label="<%= t('blacklight.search.header') %>" role="navigation">
      <%= search_bar %>
    </div>
  </div>
</section>
