<section id="hero" class="d-sm-block">
  <div class="jumbotron text-center d-flex align-items-center mb-0">
    <div id="hero-search" class="col-md-8 offset-md-2" aria-label="<%= t('blacklight.search.header') %>" role="navigation">
      <%= search_bar %>
    </div>
  </div>
</section>
<%= render 'shared/breadcrumbs' %>