<nav id="topnavbar" class="navbar navbar-primary d-flex flex-sm-row py-0 px-0">
	<div id="navbar-container" class="container-fluid">
		<ul class="nav" id="crowndown-nosearch">
			<li class="dropdown menu nav-item">
				<a href="#" class="dropdown-toggle menu nav-link" data-bs-toggle="dropdown" title="Links @ Columbia"><span class="fa icon-columbia-crown"></span><span class="d-none d-sm-inline">Columbia University Libraries</span> <b class="caret"></b></a>
				<ul class="dropdown-menu nav-item">
					<li><a href="http://columbia.edu"><i class="fa icon-columbia-crown"></i> Columbia University » Home</a></li>
					<li><a href="https://library.columbia.edu"><i class="fa fa-home"></i>  Libraries » Home</a></li>
					<li><a href="https://dlc.library.columbia.edu"><i class="fa fa-star"></i> Digital Library Collections</a></li>
					<li class="divider"></li>
					<li><a href="https://library.columbia.edu/libraries.html">Columbia Libraries Locations</a></li>
					<li><a href="https://library.columbia.edu/collections/archives-portal.html">Columbia Archival Collections Portal</a></li>
					<li><a href="https://clio.columbia.edu">CLIO: Columbia Libraries Catalog</a></li>
				</ul>
			</li>
		</ul>
		<div id="cul_top-right" class="nav flex-sm-row-reverse">
			<div class="dropdown menu nav-item">
				<a class="dropdown-toggle menu nav-link" data-bs-toggle="dropdown" href="#"><span class="fa fa-question-circle d-sm-none"></span><span class="d-none d-sm-inline">Help <b class="caret"></b></span></a>
				<ul class="dropdown-menu dropdown-menu-right nav-item">
					<li><a href="https://library.columbia.edu/libraries.html">Contact Us</a></li>
					<li><a href="https://library.columbia.edu/services/askalibrarian.html">Ask a Librarian</a></li>
					<li><a href="https://hours.library.columbia.edu">Library Hours</a></li>
					<li><a href="https://library.columbia.edu/libraries/map.html?location=culis">Maps and Locations</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
