@import "cuds_palette";
@import './brand_font';

#contact-footer {
  background-color: $indigo;
  color: $white;
  font-size: 0.75em;
  a {
    color: $white !important;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

a.address-data, span.address-data, strong.address-data {
  display: block;
}
