// Place all the styles related to the AeonRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.trajanpro {
    font-weight: 400;
    font-family: trajanproregular,"trajan pro regular",trajan,serif;
    color: black;
}

.aeon-confirm-request h3 {
    font-size: 22.75px;
    border-bottom: none;
}

div.aeon-confirm-request {
    border-radius: 0 0 4px 4px;
    border: 1px solid #aaa;
    border-top-width: 2px;
}

div.aeon-title-name {
    font: 265% arial;
    letter-spacing: -.05em;
    margin: 0px 0 0 20px;
    padding: 3px;
    color: #000066;
    border: none;
}

div.aeon-header {
    background-color: #efefef;
    border-left: 0 solid #CCCCCC;
    border-right: 0 solid #CCCCCC;
    border-top: 5px solid #000066;
    border-bottom: 5px solid #000066;
    margin: 1em 0 25px;
    padding: 6px 0 0 2px;
    position: relative;
}
