/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "asi";
@import "components";

// application-wide styles
.sidebar {
    vertical-align: top;
    background: #eee;
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.ead_content {
    padding: 5px;
}

h2 {
    color: #2c5277;
    font-size: 16px;
    font-weight: bold;
}

h3, h3 em {
    color: #999;
    border-bottom: 1px solid #999;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}

div.toc {
    width: 188px;
    background: #eee;
    padding: 10px;
    font-size: 12px;
}

#contentMenu1 {
    margin-left: 5px;
}

div.item {
    padding: 5px;
    margin: 5px;
}
