/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "components";
@import "finding_aids";
@import "aeon_requests";

//colors
$color_0: #fff;
$color_1: #828F88;
$color_2: #ccc;
$color_3: #f8f8f8;
$color_4: #aaa;
$color_5: #000;
$color_6: #779bc3;
$color_7: #002b7f;
$color_8: #222;
$color_9: #eef;
$color_10: #0081c2;
$color_11: #08c;
$color_12: #0077b3;
$color_13: #2a2aa5;
$color_14: #08c;
$color_22: #777;
$color_27: #336699;
$color_29: #bbb;

//fonts
$font_0: TrajanProRegular;
$font_1: trajan;
$font_2: serif;
$font_3: trajan pro;
$font_4: georgia;

//urls
$url_0: url(//cdn.cul.columbia.edu/ldpd-toolkit/img/crown-bts-24x24.png);
$url_1: url(//cdn.cul.columbia.edu/ldpd-toolkit/img/crown-icon-sprite.png);
$url_3: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.eot);
$url_4: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.eot?#iefix);
$url_5: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.woff);
$url_6: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.ttf);
$url_7: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.svg#TrajanProRegular);

// application-wide styles
.sidebar {
    vertical-align: top;
    background: #eee;
    width: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.ead_content {
    padding: 5px;
}

h2 {
    color: #2c5277;
    font-size: 16px;
    font-weight: bold;
}

h3, h3 em {
    color: #999;
    border-bottom: 1px solid #999;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}

div.toc {
    width: 188px;
    background: #eee;
    padding: 10px;
    font-size: 12px;
}

#contentMenu1 {
    margin-left: 5px;
}

div.item {
    padding: 5px;
    margin: 5px;
}

#topnavbar {
    min-height: 50px;
    font-size: 13px;
    color: $color_0;
    background: $color_6;
    border-top: 5px solid $color_7;
    border-bottom: 1px solid $color_8;
    border-top-color: $color_7;
    #navbar-container {
	padding: 0;
	.navlist-padded {
	    position: relative;
	    display: block;
	    padding: 10px 15px;
	}
    }
    #cul_top-nosearch {
	padding-left: 0;
	padding-right: 10px;
	height: 38px;
	background: $color_7;
	#crowndown-nosearch {
	    height: 39px;
	    padding-left: 0;
	    margin-top: -1px;
	    background: $color_7;
	    .dropdown-toggle {
		background: transparent $url_0 no-repeat 4px 30%;
		padding-right: 4px;
		padding-left: 34px;
		font-size: 103%;
		line-height: 120%;
		letter-spacing: 0;
		font-weight: normal;
		font-family: $font_0, $font_1, $font_2;
		margin-top: 2px;
	    }
	}
	#cul_top-right {
	    .dropdown-toggle:hover, .dropdown-toggle:focus {
		background-color:$color_7;
	    }
	}
	.dropdown-menu {
	    background-color: $color_7;
	    margin-top: -3px;
	    i.icon-crown-white {
		display: inline-block;
		width: 14px;
		height: 14px;
		background-position: -14px 0;
		background-image: $url_1 !important;
		line-height: 14px;
		vertical-align: text-top;
		margin-top: 1px;
	    }
	    li a:hover {
		text-decoration: none;
		color: $color_0;
		background-color: $color_10;
		background-image: linear-gradient(to bottom, $color_11, $color_12);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
		background-color: $color_13;
	    }
	}
    }
    a {
	color: $color_0;
	&:hover {
	    color: $color_0;
	}
    }
}

a[aria-expanded=true] span.glyphicon-chevron-right { transform: rotate(90deg); }

a[aria-expanded=false] span.glyphicon-chevron-right { transform: rotate(0deg);}
