/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "cuds_palette";
$brand: $primary;
$brand_text: $white;

@import "bootstrap";
@import "font-awesome";
@import "font-awesome-pro";
@import "font-awesome-pro/light";
@import "components";
@import "finding_aids";
@import "aeon_requests";

@import "topnav";
@import "cul_footer";

@import "arclight";

//urls
$url_0: url(//cdn.cul.columbia.edu/ldpd-toolkit/img/crown-bts-24x24.png);
$url_1: url(//cdn.cul.columbia.edu/ldpd-toolkit/img/crown-icon-sprite.png);
$url_3: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.eot);
$url_4: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.eot?#iefix);
$url_5: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.woff);
$url_6: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.ttf);
$url_7: url(//cdn.cul.columbia.edu/ldpd-toolkit/fonts/trajanpro-regular-webfont.svg#TrajanProRegular);

:root {
  --bs-breadcrumb-divider: "/";
  --a-link-color: #2c6bac;
  --a-visited-color: #769ac5;
  --nav-a-link-color: #3a6fa2;
  --icon-grey-color: #595959;
  --nav-tabs-link-active-color: #f8f9fa;
  --text-shadow-color: 1px 1px 1px rgba(0,0,0,0.5);
  --cul-darkblue-color: #093552
}

// application-wide styles
.ead_content {
	h2 {
		color: #2c5277;
		font-size: 16px;
		font-weight: bold;
		&.al-show-sub-heading {
			border-bottom: 1px solid #2c5277;
			font-size: 1.5rem;
			text-transform: none;
		}
	}

	h3, h3 em {
		color: #999;
		font-weight: bold;
		font-size: 14px;
		padding-top: 10px;
		&.al-show-sub-heading {
			font-size: 1.1rem;
			text-transform: none;
		}
	}
}
div.toc {
	font-size: 12px;
	clear:both;
	.dropdown .nav {
	  margin-left: -1rem;
	  margin-right: -1rem;
	}
}

div.item {
	padding: 5px;
	margin: 5px;
}

a[aria-expanded=true] span.glyphicon-chevron-right { transform: rotate(90deg); }

a[aria-expanded=false] span.glyphicon-chevron-right { transform: rotate(0deg);}

a.subseries_anchor, a.fa_anchor {
	display: block;
	position: relative;
	top: -60px;
	visibility: hidden;
}

.al-masthead H1, #site-name {
	font-family: TrajanProRegular, trajan, serif;
	color: $brand;
	a {
	  text-decoration: none;
	}
}

.al-search-breadcrumb {
	background-color: #f8f9fa !important;
	ol {
	  background-color: unset;
	}
	.breadcrumb-item {
	  &.active {
	    color: $dark;
	  }
	}
}

.acfa-repositories {
	ul {
	  list-style: none;
	}
	li {
	  font-size: 1.25rem;
	  margin-bottom: 0.5rem;
	  font-weight: 500;
	  line-height: 1.2;
	}
}

@import "lweb_shared";

.tab-content {
	.active {
		background-color: $white;
	}
}

a.external-link {
	&:after {
	  font-family: 'Font Awesome 6 Pro';
	  content: '\f35d';
	  padding-left: 0.5em;
	}
}

.reset-layout {
	.form-switch {
	  padding-left: 2.5em;
	}
  .list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    margin-bottom:0;
  }
}

.no-item-border {
	.list-group-item {
	  border: 0 !important;
	}
}

a.dropdown-item {
/* toolkit visited link style interferes with dropdown legibility */
  &.active {
    color: var(--bs-dropdown-link-active-color) !important;
  }
}

.rounded-left {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.modal {
/* toolkit is hiding all overflow, and thus some UI on some screens */
	overflow-x: hidden !important;
  overflow-y: auto !important;
}
