$breadcrumb-divider: quote("»");
$logo-image: image_url('arclight/logo.png') !default;
@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'arclight/application';

#search_field.custom-select {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.facet-limit-active {
	.facet-field-heading {
		color: #fff;
	}
	.form-check{
		&.selected {
			.form-check-label {
				color: $success;
			}
			.form-check-input:checked {
				background-color: $success;
				border-color: $success;
			}
		}
	}
}