// Place all the styles related to the Components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// fcd1, 16Apr19: Need to copy over css from asi file.
div.aeon_blurb {
    width: 400px;
    float: right;
    border: 2px solid #f00;
    padding: 5px;
    margin: 5px;
}

div.component-view p {
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.25em;
}

div.c-view-print p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    line-height: 1.25em;
}

div.component_entry {
    margin-left: 4em;
}

div.component_entry_print {
    margin-left: 1em;
}

div.component_notes {
    margin: 0;
    padding-left: 4em;
}

.red {
    color: red;
}

div.component-view p.component_info {
    margin: 1em 0 1em 0;
    border-bottom: lightgray solid 1px;
    padding-bottom:0.25em;
    clear:both;
}

span.nnc-a {
    font-weight:bold;
}

span.component_title {
    text-align: left;
}

span.container_info {
    text-align: right;
    float: right;
    display: block;
    margin-left: 4em;
}

span.subseries_title {
    text-align: left;
    color: #999;
    border-bottom: 1px solid #999;
    font-weight: bold;
    font-size: 14px;
}

input.aeon_checkbox {
    text-align: right;
    float: right;
}

label.aeon_checkbox_label {
    text-align: right;
    float: right;
    padding-right:5px;
}
