// Place all the styles related to the Components controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// fcd1, 16Apr19: Need to copy over css from asi file.
div.aeon_blurb {
    width: 400px;
    float: right;
    border: 2px solid #f00;
    padding: 5px;
    margin: 5px;
}
