// Place all the styles related to the FindingAids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	color: #2c5277;
}

.dl-invert p {
    display: inline-block;
}

.sidebar {
    vertical-align: top;
    background: #eee;
    border: 1px solid #ccc;
}

.ead_content {
}

.summaryTable td {
    vertical-align: top;
    border: 1px solid #eee;
}

.summaryTable th {
    font-weight: bold;
    border: 1px solid #eee;
    vertical-align: top;
}

.summaryTable p {
    margin: 0px;
}

table.subjectTable {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width:fit-content;
}

table.subjectTable th {
    text-align: left;
    background: #eee;
    border: 1px solid #ccc;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    font-size: 11px;
    text-align: center;
}

table.subjectTable TD.firstCell,
table.subjectTable TH.firstCell {
    text-align: left;
}

table.subjectTable td {
    border: 1px solid #ccc;
    border-top: none;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

td.accessrestrict p {
    margin: 0px;
}

div.printView h3, div.printView h2 {
    color: black;
    border: none;
    text-decoration: underline;
}

div.printView div.summaryDiv {
    background-color: white;
}

.cul-theme-component-repository-action {
    overflow-anchor: none;
    .btn-link {
        text-decoration: none !important;
        color: var(--nav-a-link-color);
        background-color: transparent;
        &:hover {
            color: var(--a-link-color);
            background-color: var(--nav-tabs-link-active-color);
        }
    }
    .card {
        background-color: transparent;
        &:not(:last-of-type) {
          border-bottom: 0;
        }
    }
    .card-header {
        border-radius: 0;
        margin-bottom: -1px;
        background-color: transparent;
    }  
}