#cart-offcanvas {
  width: 100%;
}

@media (min-width: 768px ) {
  #cart-offcanvas {
    width: 75%;
  }
}

@media (min-width: 1400px ) {
  #cart-offcanvas {
    width: 50%;
  }
}

.request-cart {
  textarea {
    resize: none !important;
  }
}
