<p class="breadcrumbs">
  &nbsp;&nbsp;&nbsp;
  <a href="https://findingaids.library.columbia.edu/">Columbia University Finding Aids</a> &gt
  <a href="<%= @repository.url %>"><%= @repository.name %></a> &gt;
  <%= @finding_aid_title %>
</p>
