<p class="breadcrumbs">
  &nbsp;&nbsp;&nbsp;
  <a href="http://www.columbia.edu/cgi-bin/cul/resolve?lweb0106">Archival Collections Portal</a> &gt
  <a href="<%= REPOS[params[:repository_id]][:url] %>"><%= REPOS[params[:repository_id]][:name] %></a> &gt;
  <%= @finding_aid_title %>
</p>
